{% extends 'template.html' %}
{% block title %}UnderSound - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <div class="main_index">
        <h1>Bienvenido a UnderSound</h1>
        <p>La página de los amantes de la música</p>
    </div>

    <h2>Tendencias</h2>
    <section class="row_index" data-id="1">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 0)">&#10094;</button>


        <div class="carousel_index">

            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>

            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 0)">&#10095;</button>
    </section>
    

    <h2>Recomendaciones</h2>
    <section class="row_index" data-id="1">
        
        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 1)">&#10094;</button>

        <div class="carousel_index">
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <!-- Más tarjetas... -->
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 1)">&#10095;</button>
    </section>
    
    
    <h2>Nuevo</h2>
    <section class="row_index" data-id="3">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 2)">&#10094;</button>

        <div class="carousel_index">
            <a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a><a href="/songs/" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>Título de la canción</h3>
                    <p>Álbum: Nombre del Álbum</p>
                    <p>Duración: 3:45</p>
                </div>
            </a>
            <!-- Más tarjetas... -->
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 1)">&#10095;</button>
    </section>
   
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='css/carrusel.js')}}" defer></script>
{% endblock %}

 