{% extends 'template.html' %}
{% block title %}UnderSound - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<head> </head>

<body>
    <div>
        <h1>Bienvenido a UnderSound</h1>
        <p>La página de los amantes de la música</p>
        <div class="buttons_index">
            <button class="play-btn">▶ Reproducir</button>
            <button class="more-info-btn">ℹ Más información</button>
        </div>
    </div>

    <div class="carrusel_index">
        <div class="imagenes_index">
             <!-- Las imágenes se agregarán aquí dinámicamente -->
          
        </div>
        <button class="prev_index" onclick="moverCarrusel(-1)">&#10094;</button>
        <button class="next_index" onclick="moverCarrusel(1)">&#10095;</button>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='css/styles.js')}}"></script>
    {% endblock %}
    </body>
{% endblock %}