{% extends 'template.html' %}
{% block title %}UnderSound - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <div class="main_index">
        <h1>Bienvenido a UnderSound</h1>
        <p>La página de los amantes de la música</p>
    </div>

{% if songs %}
    <h2>Tendencias</h2>
    <section class="row_index" data-id="3">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 2)">&#10094;</button>

        <div class="carousel_index">
            {% for song in songs %}
            <a href="/songs/{{ song.id }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>{{song.title}}</h3>
                    <p>{{song.artist}}</p>
                    <p>Álbum: {{song.album}}</p>
                    <p>Duración: {{song.duration}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 2)">&#10095;</button>
    </section>   
{% endif %}

{% if songs %}
    <h2>Recomendaciones</h2>
    <section class="row_index" data-id="3">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 2)">&#10094;</button>

        <div class="carousel_index">
            {% for song in songs %}
            <a href="/songs/{{ song.id }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>{{song.title or 'Desconocido'}}</h3>
                    <p>{{song.artist or 'Desconocido'}}</p>
                    <p>Álbum: {{song.album or 'Desconocido'}}</p>
                    <p>Duración: {{song.duration or 'Desconocido'}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 2)">&#10095;</button>
    </section>
{% endif %}

{% if songs %}
    <h2>Nuevo</h2>
    <section class="row_index" data-id="3">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 2)">&#10094;</button>

        <div class="carousel_index">
            {% for song in songs %}
            <a href="/songs/{{ song.id }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
                <div class="music-info_index">
                    <h3>{{song.title or 'Desconocido'}}</h3>
                        <p>{{song.artist}}</p>
                    <p>Álbum: {{song.album}}</p>
                    <p>Duración: {{song.duration}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 2)">&#10095;</button>
    </section>
 {% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='css/carrusel.js')}}" defer></script>
{% endblock %}