{% extends 'template.html' %}

{% block content %}

    <div class="song-info_index">
        <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
        <h3>{{merch.name}}</h3>
        <p> {{merch.genre}}</p>
    </div>

    <button class="btn btn-cart">
        <i class="fas fa-shopping-cart"></i> Añadir al Carrito
    </button>

    <audio controls class="mt-3">
        <source src="{{ url_for('audio', filename=audio_filename) }}" type="audio/mp3">
        Tu navegador no soporta el audio.
    </audio>

    <h5 class="mt-4">Comentarios </h5><!--Comentarios ({{ comentarios|length }})-->
    <ul class="list-group">
       <!-- {% for comentario in comentarios %}-->
        <li class="list-group-item">
            <strong>COMENTARIO</strong>
            
        </li>
        <!-- {% endfor %} -->
    </ul>

    <!-- Formulario para añadir comentario -->
    <form >
        <textarea name="comentario" class="form-control" placeholder="Añadir comentario..." required></textarea>
        <button type="submit" class="btn btn-primary mt-2">Comentar</button>
    </form>

    <div class="col-md-4 text-center">
        
        <!-- Media de valoraciones  -->

        <h3 class="mt-3">3/5 ⭐</h3>
        <!-- Botón de calificación -->
        <form>
            <label for="rating">Valorar:</label>
            <select name="rating" id="rating" class="form-select">
                <option value="1">1 ⭐</option>
                <option value="2">2 ⭐</option>
                <option value="3">3 ⭐</option>
                <option value="4">4 ⭐</option>
                <option value="5">5 ⭐</option>
            </select>
            <button type="submit" class="btn btn-warning mt-2">Enviar valoración</button>
        </form>
    </div>
       
{% endblock %}