{% extends 'template.html' %}

{% block content %}

<div class="song-info_index">
    <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Foto de artista">
    
    <h3>{{ artist.username }}</h3>
    <p>Nombre completo: {{ artist.fullname }}</p>
    <p>Género: {{ artist.genre if artist.genre else "No especificado" }}</p>

    TODO: Añadir más información del artista aquí
    <!-- <ul class="artist_index">
        {% for song in songs %}
            {% set song_album = albums | selectattr("album_id", "equalto", song.album_id) | list | first %}
            <li>
                <a href="/songs/{{ song.song_id }}">{{ song.title }}</a> -
                {% if song_album %}
                    <a href="/albums/{{ song_album.album_id }}">{{ song_album.title }}</a>
                {% else %}
                    <span>Álbum no encontrado</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul> -->
</div>

<div class="container">
    <button class="btn btn-cart">
        <i class="fas fa-heart"></i> Añadir a Favoritos
    </button>
</div>

<hr>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='css/NavBar.js')}}"></script>
{% endblock %}
