{% extends 'template.html' %}

{% block content %}

    <div class="song-info_index">
        <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
        <h3>{{vinyl.name}}</h3>
        <p>Artista: {{vinyl.artist}}</p>
        <p>Álbum: {{vinyl.album}}</p>
    </div>

    <div class="container">
        <button class="btn btn-cart">
            <i class="fas fa-shopping-cart"></i> Añadir al Carrito
        </button>
    </div>
    
    <div class="col-md-4 text-center">
        
        <div class="container-2">
            <audio controls class="mt-3">
                <source src="{{ url_for('audio', filename=audio_filename) }}" type="audio/mp3">
                Tu navegador no soporta el audio.
            </audio>
    
            <!-- Media de valoraciones -->
            <h3 class="mt-3"> 4/5 ⭐</h3> <!-- Actualizar valoracion -->
        </div>
            
        
        <!-- Botón de calificación -->
        <form>
            <label for="rating" class="bold-label">Valorar:</label>
            <select name="rating" id="rating" class="form-select">
                <option value="1">1 ⭐</option>
                <option value="2">2 ⭐</option>
                <option value="3">3 ⭐</option>
                <option value="4">4 ⭐</option>
                <option value="5">5 ⭐</option>
            </select>
            <button type="submit" class="form-button">Enviar valoración</button>
        </form>
    </div>

    <h4 class="mt-4">Comentarios </h4><!--Comentarios ({{ comentarios|length }})-->
    <ul class="list-group">
       <!-- {% for comentario in comentarios %}-->
        <li class="list-group-item">
            <strong>COMENTARIO</strong>
            
        </li>
        <!-- {% endfor %} -->
    </ul>

    

    <!-- Formulario para añadir comentario -->
    <form class="container">
        <textarea name="comentario" class="form-control" placeholder="Añadir comentario..." required></textarea>
        <button type="submit" class="form-button">Comentar</button>
    </form>
    <hr>

{% endblock %}