{% extends 'template.html' %}
{% block title %}UnderSound - Biblioteca{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="nav-right">
    <h1>Biblioteca de UnderSound</h1>
    <h2>Busca los productos que has adquirido o guardado como favoritos</h2>
    <form action="{{ url_for('library') }}" method="GET">
        <div class="search">
            <input type="text" name="library_search" placeholder="Canciones, artistas, álbumes...">
            <i class="search-icon">🔍</i>
        </div>
    </form>  
</div>
<div>
    <h2>Favoritos</h2>
    <p>Haz clic en el boton para mostrar u ocultar tus favoritos.</p>
</div>
    <button class="dropdown-btn" id="toggleButton"> Mostrar/Ocultar Favoritos </button>

    <div class="dropdown-content" id="carrouselContainer">
 
{% if songs %}
    <h2>Canciones Favoritas</h2>
    <section class="row_index" data-id="1">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 0)">&#10094;</button>

        <div class="carousel_index">
            {% for song in songs %}
            <a href="{{ url_for('songs_details', id=song.song_id) }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Canción">
                <div class="music-info_index">
                    <h3>{{song.title}}</h3>
                    <p>Álbum: {{song.album_title}}</p>
                    <p>Duración: {{song.duration}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 0)">&#10095;</button>
    </section>
{% endif %}

{% if artists %}
    <h2>Artistas favoritos</h2>
    <section class="row_index" data-id="2">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 1)">&#10094;</button>

        <div class="carousel_index">
            {% for artist in artists %}
            <a href="/artists/{{ artist.id }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Artista">
                <div class="music-info_index">
                    <h3>{{artist.username}}</h3>
                    <p>Género común: {{artist.genre}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 1)">&#10095;</button>
    </section>
{% endif %}

{% if albums %}
    <h2>Álbumes favoritos</h2>
    <section class="row_index" data-id="3">

        <button class="carousel-btn_index prev-btn_index" onclick="moverCarrusel(-1, 2)">&#10094;</button>

        <div class="carousel_index">
            {% for album in albums %}
            <a href="/albums/{{ album.id }}" class="music-card_index">
                <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Álbum">
                <div class="music-info_index">
                    <h3>{{album[2]}}</h3>
                    <p>Artista: {{album[6]}}</p>
                    <p>Fecha de Lanzamiento: {{album[3]}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-btn_index next-btn_index" onclick="moverCarrusel(1, 2)">&#10095;</button>
    </section>
{% endif %}
</div>

<div>
    <h2>Compras</h2>
    <p>Haz clic en el boton para mostrar u ocultar tus favoritos.</p>
    <p>Si no tienes favoritos, no se mostrará nada.</p>
</div>
<button class="dropdown-btn" id="toggleButton"> Mostrar/Ocultar Compras </button>

<div class="dropdown-content" id="carrouselContainer">

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='css/carrusel.js')}}" defer></script>
<script>
    const toggleButton = document.getElementById('toggleButton');
    const carrouselContainer = document.getElementById('carrouselContainer');

    toggleButton.addEventListener('click', function () {
        carrouselContainer.classList.toggle('show');
    });
</script>
{% endblock %}