{% extends 'template.html' %}

        {% block content %}
        
    
        {% if cancion %}
        <div class="song-info_index">
           <img src="{{ url_for('static', filename='images/deafault_img.png') }}" alt="Musica 1">
            <h3>{{cancion.name}}</h3>
            <p> {{cancion.artist}}</p>
            <p>Álbum: {{cancion.album}}</p>
            <p>Duración: {{cancion.duration}}</p>
        </div>
        {% else %}
            <p>No se encontró la canción.</p>
        {% endif %}
       

        {% endblock %}

    

     {% block scripts %}
        <script src="{{ url_for('static', filename='css/NavBar.js')}}"></script>
    {% endblock %}