{% extends 'template.html' %}
{% block title %}UnderSound - Estudio{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<header>
    <div>
        <h1>Estudio de música</h1>
        <p>Aquí puedes subir tu música como artista, al igual que editarla y consultar estadísticas</p>
        <div class="buttons">
            <button class="play-btn">▶ Reproducir</button>
            <button class="more-info-btn">ℹ Más información</button>
        </div>
    </div>
</header>
<body>
    <div class ="userpage">
        <div class ="profile_pic"> <img src="{{ url_for('static', filename='images/profile-avatar.png') }}" alt="Perfil" class="logo"></div>

        <div class ="upload_song"> <a href="{{ url_for('song_upload') }}">+Subir Cancion</a> </div>
        
        <div class ="my_uploads_list">
            <ul class ="listed_songs">
                <li><a href ="/song1">Titulo <a href ="/stats/"> Estadisticas <a href ="/edit_song/">Editar</a></a></href></a></li>
            </ul>

        </div>

    </div>
</body>
{% endblock %}